<footer class="text-center">
    <%= image_tag 'logo-footer.png', class: "footer-logo" %>
    <p><i class="fas fa-copyright"></i> 2020 - <%= Time.zone.now.year %>
        <strong>HiGoLearn</strong>, All Rights Reserved.
    </p>
    <div>
        <%= link_to 'Privacy', privacy_path, class: "badge badge-success" %>
        <%= link_to 'Terms', terms_path, class: "badge badge-success" %>
    </div>
    <br>

    <p>
        <h6>Contact us at </h6>
        <div>
            <strong>jesus@higolearn.com</strong>
        </div>
    </p>

    <div class="rounded-social-buttons">
        <a class="social-button " href="https://www.facebook.com/higolearn" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a class="social-button " href="https://www.twitter.com/higolearn" target="_blank"><i class="fab fa-twitter-square"></i></a>
        <a class="social-button " href="https://www.github.com/higolearn" target="_blank"><i class="fab fa-github-square"></i></a>
        <a class="social-button " href="https://www.youtube.com/higolearn" target="_blank"><i class="fab fa-youtube-square"></i></a>
        <a class="social-button " href="https://www.instagram.com/higolearn" target="_blank"><i class="fab fa-instagram-square"></i></a>
    </div>
</footer>
<br>