
<div class="row">
    <!--Here is terms-->
    <div class="col-md-8 offset-md-2 mt-4">
        <h2 class="text-center">Términos y Condiciones de Uso</h2><br>
        <p>
            Estos términos y condiciones ("Términos y condiciones") rigen el uso de este sitio web higolearn.com ("Sitio web"). 
            En estos Términos y Condiciones, <strong>HiGoLearn, Inc</strong>. se denomina la "Compañía", "<strong>HiGoLearn</strong>", "nosotras" o "nosotros".
        </p>
        <p>
            Al utilizar este sitio web y sus servicios, estará sujeto a estos Términos y condiciones y a la política de privacidad de la Compañía, 
            que se puede encontrar en el <strong>apartado final</strong> ("Políticas de Privacidad"). Si no está de acuerdo con estos Términos y condiciones y / o la Política de privacidad, 
            no debe utilizar este sitio web ni ningún servicio proporcionado a través de él. El uso del sitio web y los servicios de la Compañía (como se define a continuación) 
            está expresamente condicionado a su consentimiento a todos los términos y condiciones de este acuerdo, con exclusión de todos los demás términos.
        </p>
        <h4>1. Registro</h4>
        <ul>
            <li>
                <p>
                    Deberá registrarse y validar su email para convertirse en miembro de este sitio web ("Miembro") si desea acceder a los Servicios a través de este sitio web, 
                    y la membresía está sujeta a los cargos de suscripción de la Compañía establecidos en su precio por proyecto. Usted es libre de adquirir
                    los proyectos en cualquier momento, sujeto a estos Términos y Condiciones.
                </p>
            </li>
            <br>

            <li>
                <p>
                    No debe decirle a nadie más su nombre de usuario o contraseña. Cualquier uso no autorizado de cualquiera de ellos debe ser
                    informado a <strong>support@higolearn.com</strong> tan pronto como tenga conocimiento de dicho uso y la Compañía, 
                    tan pronto como sea razonablemente posible, cancelará su nombre de usuario y / o contraseña y le proporcionará otros nuevos.
                </p>
            </li>
            <br>

            <li>
                <p>
                    La Compañía se reserva el derecho de cancelar su nombre de usuario y contraseña sin previo aviso si 
                    la Compañía tiene conocimiento de cualquier incumplimiento de estos Términos y Condiciones por su parte.
                </p>
            </li>
        </ul>
        <h4>2. Su Uso de este Sitio Web</h4>
        <ul>
            <li>
                <p>
                    No debe utilizar este sitio web para nada que sea ilegal o esté prohibido por estos 
                    Términos y condiciones y / o cualquier aviso en cualquier otro lugar de este sitio web.
                </p>
            </li>
            <br>

            <li>
                <p>
                    La Compañía aconseja que busque asesoramiento profesional antes de confiar en la información de este sitio web. 
                    Bajo ninguna circunstancia la Compañía será responsable de ninguna manera por la información que proporcione 
                    en el sitio web o a través de los Servicios, incluidos, entre otros, errores u omisiones en cualquier contenido e información, 
                    incluidos, entre otros, texto, software, música. , sonido, fotografías, gráficos, video u otro material (también conocido como "Contenido"), 
                    o cualquier pérdida o daño de cualquier tipo incurrido en relación con el uso o exposición a cualquier Contenido publicado, enviado por correo electrónico, 
                    accedido, transmitido o realizado de otra manera disponible a través de los Servicios.
                </p>
            </li>
            <br>

            <li>
                <p>
                    Usted declara y garantiza a la Compañía que es mayor de edad para celebrar un contrato vinculante o que tiene el permiso de sus padres para hacerlo. 
                    También certifica que está legalmente autorizado a utilizar y acceder a los Servicios y que asume la plena responsabilidad de la selección, 
                    el uso y el acceso a los Servicios. Este acuerdo es nulo donde lo prohíba la ley, y el derecho de acceso a los Servicios está revocado en dichas jurisdicciones.
                </p>
            </li>
        </ul>
        <h4>3. Cargos y Pagos</h4>
        <ul>
            <li>
                <p>
                    Se le cobrará antes de su período de pago hasta que se cancele su membresía junto con cargos adicionales basados ​​en transacciones. 
                    Los cargos se expresan en dólares estadounidenses. Cualquier reducción en el precio de membresía aplicable entrará en vigencia en su próximo período 
                    de pago de membresía después de la notificación. Cualquier aumento en el precio de membresía aplicable entrará en vigencia a partir de la fecha de 
                    notificación (de modo que se realizará un pago prorrateado por el resto del período de pago actual, y el pago completo se realizará desde el 
                    comienzo del siguiente período del plan ). Su período de membresía comienza en la fecha en la que se registra para los 
                    Servicios y finaliza el día anterior a esa fecha del calendario del período siguiente.
                </p>
            </li>
            <br>

            <li>
                <p>
                    El pago de todos los cargos se paga al momento de adquirir un proyecto, apartir de la fecha de pago el acceso a ello es de por vida. 
                    Puede pagar las cuotas de membresía con cualquier tarjeta de crédito MasterCard, Visa o American Express o con cualquier otro método de pago que acepte la empresa. 
                    Sus datos de pago se cifrarán para minimizar la posibilidad de acceso o divulgación no autorizados. 
                    En el momento del registro, se le pedirá que proporcione los detalles de la tarjeta de crédito / débito. 
                    En el caso de que la Compañía no pueda en algún momento obtener el pago de cualquier cargo utilizando los datos de dicha tarjeta de crédito, 
                    la Compañía puede congelar su cuenta hasta que haya recibido la liquidación completa. 
                </p>
            </li>
            <br>

            <li>
                <p>
                    Todas las adquisiciones no son reembolsables. Sin embargo, se considerarán excepciones por circunstancias atenuantes (comuníquese con Soporte en jesus@higolearn.com) a discreción de <strong>HiGoLearn</strong>.       
                </p>
            </li>
        </ul>
        <h4>4. Propiedad Intelectual</h4>
        <ul>
            <li>
                <p>
                    Usted reconoce y acepta que todo el Contenido proporcionado en el sitio web oa través de los Servicios, incluido en anuncios de patrocinadores o presentado por la Compañía, 
                    sus socios o anunciantes, está protegido por derechos de autor, marcas comerciales, marcas de servicio, patentes u otros derechos de propiedad y leyes. 
                    Deberá cumplir con todos los avisos de derechos de autor, reglas de marcas comerciales, información y restricciones contenidas en cualquier 
                    Contenido al que se acceda a través de los Servicios y, salvo que se permita expresamente en este documento, no utilizará, copiará, reproducirá, modificará, traducirá, publicará, difundirá, transmitirá ni distribuirá, 
                    ejecutar, cargar, mostrar, licenciar, vender o explotar para cualquier propósito cualquier Contenido o envíos de terceros u otros derechos de propiedad que no sean de su propiedad: 
                        (i) sin el consentimiento previo expreso por escrito de los respectivos propietarios, y 
                        (ii) de cualquier forma que viole cualquier derecho de terceros.
                </p>
            </li>
            <br>

            <li>
                <p>
                    Usted reconoce y acepta que se le permite revisar, imprimir y hacer una copia para su uso personal del Contenido (y otros elementos que se muestran en el sitio web para su descarga), 
                    siempre que mantenga todos los avisos de derechos de autor y otros avisos contenidos en dicho Contenido. No debe almacenar ningún Contenido significativo de ninguna forma.        
                </p>
            </li>
            <br>

            <li>
                <p>
                    No reclamamos la propiedad de ningún Contenido que publique en el sitio web o a través de los Servicios. 
                    En su lugar, usted otorga a la Compañía una licencia mundial no exclusiva, totalmente pagada y libre de regalías, 
                    transferible, sublicenciable, perpetua para usar el Contenido que publica en el sitio web o a través de los Servicios, 
                    sujeto a la Política de Privacidad de la Compañía. que se puede encontrar en el <strong>apartado final</strong> ("Políticas de Privacidad").
                    
                </p>
            </li>
        </ul>
        <h4>5. Terminación</h4>
        <p>
            <strong>IMPORTANTE:</strong> Las adquisiciones no son reembolsables (Temporal).
        </p>
        <ul>
            <li>
                <p>
                    Si no está satisfecho por cualquier motivo con su adquisición, 
                    su único derecho y recurso exclusivo es eliminar su cuenta. 
                    No se reembolsará la totalidad o parte de la tarifa de adquisición.
                </p>
            </li>
            <br>
            <li>
                <p>
                    Podemos cancelar la adquisición y estos Términos si no podemos procesar la adquisición 
                    debido a información de tarjeta de crédito inexacta u obsoleta.     
                </p>
            </li>
            <br>
            <li>
                <p>
                    El acceso al Sitio bajo estos Términos se otorga solo mediante el pago de las tarifas de proyectos exceptuando los contenidos gratuitos.
                </p>
            </li>
        </ul>
    </div>
    <!--Here is privacy-->

    <div class="col-md-8 offset-md-2 mt-4">
        <h2 class="text-center">Políticas de Privacidad</h2>
        <p>
            Su privacidad es muy importante para nosotros. 
            En consecuencia, hemos desarrollado esta Política para que usted comprenda cómo recopilamos, 
            usamos, comunicamos y divulgamos y hacemos uso de la información personal. 
            A continuación se describe nuestra política de privacidad.
        </p>
        <ul>
            <li>
                <strong>
                    Antes o en el momento de recopilar información personal, 
                    identificaremos los fines para los que se recopila la información.
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Recopilaremos y usaremos la información personal únicamente con el objetivo de cumplir con los 
                    fines especificados por nosotros y para otros fines compatibles, 
                    a menos que obtengamos el consentimiento de la persona en cuestión o según lo exija la ley.
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Solo conservaremos la información personal durante el tiempo que sea necesario para el cumplimiento de esos fines.
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Recopilaremos información personal por medios legales y justos y, cuando corresponda, 
                    con el conocimiento o consentimiento de la persona en cuestión.
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Los datos personales deben ser relevantes para los fines para los que se utilizarán y, 
                    en la medida necesaria para esos fines, deben ser precisos, completos y actualizados.  
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Protegeremos la información personal mediante medidas de seguridad razonables 
                    contra pérdida o robo, así como acceso, divulgación, copia, uso o modificación de no autorizados.
                </strong>
            </li>
            <br>
            <li>
                <strong>
                    Pondremos a disposición de los clientes información sobre nuestras 
                    políticas y prácticas relacionadas con la gestión de información personal.
                </strong>
            </li>
        </ul>
        <p>
            Estamos comprometidos a llevar a cabo nuestro negocio de acuerdo con estos principios 
            para asegurar que la confidencialidad de la información personal esté protegida y mantenida.
        </p>
    </div>

</div>
<br>
<hr/>
<br>
<%= render 'shared/footer' %>