/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap/scss/bootstrap";
//Toastr notification system
@import "toastr/toastr";



body {
    color: #565a5c;
    background-color: #F8F8F8;
    font-family: "Varela Round", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

a {
    color: #00A699;
    text-decoration: none !important;
}

.container {
    width: 100%;
}

.text-babu, .icon-babu {
    color: #00A699;
    font-size: medium;
}

.text-red, .icon-red {
    color: #FF5A5F;
}

// NAVBARS
.navbar {
    background-color: #FFFFFF !important;
    border-radius: .30rem;
}

.navbar .navbar-brand {
    color: #FF5A5F !important;
    font-size: 2em;
    font-weight: 400;
    //background : url("/assets/images/logo.png") no-repeat top left;
}
.navbar .navbar-brand .logo {
    width: 50%;
    max-width: 330px;
    height: auto;
}
//footer logo
.text-center .footer-logo {
    width: 50%;
    max-width: 330px;
    height: auto;
}

.navbar-nav .nav-item .nav-link {
    color: #00A699 !important;
    text-decoration: none !important;
}

// AVATAR
.avatar-small {
    width: 28px;
}
  
.avatar-medium {
    width: 48px;
}
  
.avatar-large {
    width: 68px;
}
  
.avatar-full {
    width: 100%;
}

// BUTTONS
.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn {
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 9px 27px;
}

.btn-small {
    padding: 5px 15px;
    margin-top: 15px;
}

.btn:hover, .btn:focus {
    color: #fff;
}

.btn.btn-default {
    width: 100%;
    border-color: #c4c4c4;
    background: white;
    color: #484848;
    border-radius: 2px;
    padding: 10px 0;
    margin-top: 10px;
}

.btn.btn-normal {
    border: 1px solid #ff5a5f;
    background-color: #ff5a5f;
}

.btn.btn-normal:active {
    outline: none;
    border-color: #e00007;
    background-color: #e00007;
}

.btn.btn-form {
    border: 1px solid #00A699;
    background-color: #00A699;
}

.btn.btn-form:active {
    outline: none;
    border-color: #066165;
    background-color: #066165;
}
//SOCIAL BUTTONS
.rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #00A699;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

//MODAL 
.modal.left .modal-dialog,
.modal.top .modal-dialog,
.modal.bottom .modal-dialog {
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

//MODAL LEFT

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 500px;
  max-width: 100%;
  height: 100%;
}

.modal.left .modal-content{
  height: 100%;
  overflow-y: auto;
}

.modal.left .modal-body {
  padding: 15px 15px 80px;
}

.modal.left.fade .modal-dialog {
  left: -500px;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
  -o-transition: opacity 0.3s linear, left 0.3s ease-out;
  transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
  left: 0;
}
.modal.left .modal-content,
.modal.top .modal-content,
.modal.bottom .modal-content,
.modal.full .modal-content {
  border-radius: 0;
  border: none;
}

.modal.left .modal-dialog.modal-sm{
  width: 300px;
}

//TASK ITEM 
.card-body .list-group .task-item{
    // border-top: 1px solid #ccc; 
    color: #00A699 !important;
}
//Wistia css
.card-body .wistia-card{
    width: 875px; 
    height: 544px;
}

//Blockquote Markdown - Redcarpet, Coderay
blockquote {
    background: #f9f9f9;
    border-left: 5px solid #ccc !important;
    margin: 1.5em 5px;
    padding: 1em 5px .1em 5px;
    quotes: "\201C""\201D""\2018""\2019";
}

//Home page css
.jumbotron {
    background-color: #fff !important;
}
.jumbotron-title {
    color: #00A699;
}

.feature-card-title {
    color: #00A699;
}

.img-responsive{
    width: 100%;
    max-width: 400px;
    height: auto;
}
.feature-img-responsive {
    width: 48px;
    max-width: 150px;
    height: auto;
    //center image
    display: block;
    margin-left: auto;
    margin-right: auto;
}